<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kréta - iskolai adminisztráció</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Listák
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/subject/index">Tantárgyak</a></li>
        </ul>
    </div>
</div>
</body>
</html>
